.player{
    margin: 15px 0;
    background-color: crimson;
    width: 100%;
    height: 50px;
    position: relative;

}
.controls>a{
    text-decoration: none;
    height:50px;
    box-sizing: border-box;
    text-align: center;
    padding: 14.5px 14.5px;
    float:left;
    color: white;
    cursor: pointer;
}
.controls{
    float:left;
}
.controls > a:hover{
    background-color: lightblue;
    color:#b3b3b3;
}
.controls_right>a{
    text-decoration: none;
    height:50px;
    box-sizing: border-box;
    text-align: center;
    padding: 14.5px 14.5px;
    float:left;
    color: white;
    cursor: pointer;
}
.controls_right{
    float:right;
}
.controls_right > a:hover {
    background-color: lightblue;
    color: #b3b3b3;
}
.progress{
    position: absolute;
    left: 140px;
    top:15px;
    bottom: 15px;
    right:195px ;
    background: #F9A4A9;
    cursor: pointer;
}
.progress > .bar{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.progress > .bar > div{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    background: floralwhite;
}
.time{
    position:absolute;
    right: 80px;
    top: -1px;
    color: floralwhite;
    padding: 15px 15px;
    text-align: center;
}
.list{
    font-size: 25px;
    font-family: 'Baloo Chettan', cursive;
    position: absolute;
    left: 0;
    padding-top: 25px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
  }

#myslider {
    -webkit-appearance: none;
    width: 100%;
    height: 18px;
    border-radius: 5px;   
    background: #FFFFFF;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 5px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: crimson;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: crimson;
    cursor: pointer;
  }



